.cabecalho__busca {
  display: flex;
  width: 30%;
}
.cabecalho__busca input {
  border: none;
  border-radius: 20px 0px 0px 20px;
  font-size: 12px;
  padding: 0.8em 1em;
  width: 100%;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.1);
}
.cabecalho__busca input:focus {
  outline: none;
}
.cabecalho__busca--botao {
  background-color: #fff;
  background-image: url(/img/svg/lupa.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px;
  border: none;
  border-radius: 0 20px 20px 0;
  width: 15%;
  outline: none;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.1);
}
.cabecalho__busca--botao:hover {
  cursor: pointer;
}
