.cabecalho__links {
  align-items: center;
}
.cabecalho__links a {
  margin-left: 1em;
  text-decoration: none;
  font-size: 2em;
  color: white;
  font-weight: bold;
  padding-bottom: 0.8em;
}
.cabecalho__links a:hover {
  text-shadow: 0px 0px 7px rgba(0, 208, 255, 0.815);
  transform: scale(1.12);
  transition: 1s;
}
