.conteudo-home--container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteudo-home__principal {
  width: 1200px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
}
.conteudo-home__principal--slides {
  width: 500%;
  height: 320px;
  display: flex;
}
.conteudo-home__principal--slides input {
  display: none;
}
