.conteudo-home__principal {
  background: url(../../../img/games/sekiro.jpg) center / cover no-repeat;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 420px;
  width: 1200px;
}
.conteudo-home__principal:hover {
  cursor: pointer;
}
