.plataforma--titulo {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0;
}
.plataforma-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20em;
}
.plataforma__lista {
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.plataforma-home__items {
  width: 40%;
  height: 60px;
  background: linear-gradient(
    89.99deg,
    #fefefe 0.01%,
    rgba(254, 254, 254, 0) 99.99%
  );
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.plataforma-home__items--logo {
  padding: 12px;
}
.plataforma-home__items--titulo {
  font-family: "Roboto", sans-serif;
  color: white;
}

.steam {
  background: linear-gradient(
    89.97deg,
    #1b2838 0.02%,
    rgba(254, 254, 254, 0) 99.98%
  );
  display: flex;
  align-items: center;
}
.xbox {
  background: linear-gradient(
    89.97deg,
    #0e650e 0.02%,
    rgba(254, 254, 254, 0) 99.98%
  );
  display: flex;
  align-items: center;
}
.epicgames {
  background: linear-gradient(
    89.97deg,
    #121212 0.02%,
    rgba(254, 254, 254, 0) 99.98%
  );
  display: flex;
  align-items: center;
}
.playstation {
  background: linear-gradient(
    89.97deg,
    #003087 0.02%,
    rgba(254, 254, 254, 0) 99.98%
  );
  display: flex;
  align-items: center;
}
