.promocoes__filtro {
  display: flex;
  flex-direction: column;
}
.promocoes__filtro--botao {
  margin: 5px 0;
  padding: 10px;
  font-weight: bold;
  color: white;
  text-align: left;
  border: none;
  background: #cc00ff;
}
.promocoes__filtro--botao:hover {
  cursor: pointer;
}
