.promocoes__nav {
  display: flex;
  margin: 5px 0;
}
.promocoes__nav--input {
  background: rgba(155, 18, 189, 0.4);
  border: none;
  color: white;
  padding: 10px;
  width: 20em;
}
.promocoes__nav--input:focus {
  outline: none;
}
.promocoes__nav--botao {
  background: #cc00ff;
  border: none;
  width: 4em;
  background-image: url(../../../img/svg/promocoes/lupa-branca.svg);
  background-repeat: no-repeat;
  background-position: center;
}
