.acesso-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.acesso-btn__container {
  perspective: 800px;
}

.acessoBtn__forms {
  position: relative;
  border: solid 2px #fefefe;
  border-radius: 20px;
  transition: transform cubic-bezier(0, 0, 0.3, 2) 0.4s;
  transform-style: preserve-3d;
  perspective: 800px;
}

.acessoBtn__forms > input[type="radio"] {
  display: none;
}

.acessoBtn__forms > #loginAcessar:checked ~ #flap {
  transform: rotateY(-180deg);
}

.acessoBtn__forms > #loginAcessar:checked ~ #flap > .content {
  transform: rotateY(-180deg);
}

.acessoBtn__forms > #loginCadastrar:checked ~ #flap {
  transform: rotateY(0deg);
}

.acessoBtn__forms > label {
  display: inline-block;
  min-width: 150px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: #fefefe;
  cursor: pointer;
}

.acessoBtn__forms > label,
.acessoBtn__forms > #flap {
  font-weight: bold;
  text-transform: capitalize;
}

.acessoBtn__forms > #flap {
  position: absolute;
  top: calc(0px - 2px);
  left: 50%;
  height: calc(100% + 2px * 2);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: #fefefe;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.acessoBtn__forms > #flap > .content {
  color: #333;
  transition: transform 0s linear 0.25s;
  transform-style: preserve-3d;
}
