.login {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.login-box {
  background: #ad00ff;
  border-radius: 10px;
  margin: 10em 20em;
  padding: 2em 0;
  justify-content: center;
}
.login-barra {
  background: #fefefe;
  width: 4px;
  height: 255px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBlock__acesso {
  background: rgba(81, 7, 116, 0.25);
  border-radius: 10px 0 0 10px;
  pointer-events: none;
  filter: blur(1.5px);
}
.loginBlock__cadastro {
  background: rgba(81, 7, 116, 0.25);
  border-radius: 0 10px 10px 0;
  pointer-events: none;
  filter: blur(1.5px);
}

.loginBtn {
  background: white;
  border: none;
  margin: 0.8em 40% 0 40%;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.loginBtn:hover,
.loginBtn:focus {
  box-shadow: 0 0.8em 0.5em -0.5em #43c0f1;
  transform: translateY(-0.4em);
}
.loginBtn--caixa {
  float: right;
}
