.login__forms {
  width: 40%;
  align-items: center;
  padding: 35px;
}
.login__input {
  outline: none;
  border: none;
  background: none;
  font-size: 18px;
  width: 100%;
  color: white;
  border-bottom: solid 4px #fefefe;
  border-radius: 3px;
  margin-bottom: 8px;
}
.login__input::placeholder {
  color: white;
}

.login__checkbox {
  align-items: center;
  display: flex;
  margin: 10px 0;
}
.login__checkbox--input {
  -webkit-appearance: none;
  align-items: center;
  background: white;
  border-radius: 5px;
  height: 15px;
  width: 15px;
}
.login__checkbox--input:hover {
  background-color: #9ea7a3;
  cursor: pointer;
}
.login__checkbox--input:checked {
  background-color: #00ff8f;
}
.login__checkbox--input:focus {
  outline: none;
}

.login__checkbox--label {
  color: white;
  font-size: 16px;
  padding-left: 4px;
}

.login__forms--link {
  color: #00f0ff;
  font-size: 16px;
  text-decoration: none;
}
.login__forms--link:hover {
  text-decoration: underline;
}

.login__informacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
