.login {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.login-box {
  background: #ad00ff;
  border-radius: 10px;
  margin: 10em 20em;
  padding: 2em 0;
  justify-content: center;
}
.login-barreira {
  background: #fefefe;
  width: 4px;
  height: 220px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBlock__acesso {
  background: rgba(81, 7, 116, 0.25);
  border-radius: 10px 0 0 10px;
  pointer-events: none;
}
.loginBlock__cadastro {
  background: rgba(81, 7, 116, 0.25);
  border-radius: 0 10px 10px 0;
  pointer-events: none;
}
/*.loginBlock__input {
  outline: none;
  border: none;
  background: none;
  font-size: 18px;
  width: 100%;
  border-bottom: solid 4px #c3c3c3;
  border-radius: 3px;
  margin-bottom: 8px;
}
.loginBlock__input::placeholder {
  color: #c3c3c3;
}
*/
