.login__cadastro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}
.login__cadastro--msg {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}
.login__cadastro--input {
  background: #cc00ff;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 24px;
  padding: 8px 100px;
  transition: all 1s;
}
.login__cadastro--input:hover {
  background: #a903d3;
  box-shadow: 0px 0px 7px rgba(0, 208, 255, 0.815);
  cursor: pointer;
}
.login__cadastro--input:focus {
  outline: none;
}
