.login__checkbox {
  align-items: center;
  display: flex;
  margin: 10px;
}
.login__checkbox--input {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: white;
  border-radius: 5px;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}
.login__checkbox--input:hover {
  background-color: #9ea7a3;
  cursor: pointer;
}
.login__checkbox--input:checked {
  background-color: #00ff8f;
}
.login__checkbox--input:focus {
  outline: none;
}

.login__checkbox--label {
  color: white;
  font-size: 16px;
  padding-left: 4px;
}
