.login__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.login__icon--acesso {
  background-image: url(../../../img/login-acesso-icon.png);
}
